[project]
	description = A simple TODO go app
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Erich Cordoba (ericho)
[access "refs/for/refs/*"]
	read = group user/Erich Cordoba (ericho)
	push = group user/Erich Cordoba (ericho)
	label-Code-Review = -2..+2 group user/Erich Cordoba (ericho)
	label-Verified = -1..+1 group user/Erich Cordoba (ericho)
	rebase = group user/Erich Cordoba (ericho)
	removeReviewer = group user/Erich Cordoba (ericho)
	submit = group user/Erich Cordoba (ericho)
[access "refs/heads/*"]
	read = group user/Erich Cordoba (ericho)
	create = group user/Erich Cordoba (ericho)
	push = +force group user/Erich Cordoba (ericho)
	pushMerge = group user/Erich Cordoba (ericho)
[access "refs/tags/*"]
	push = group user/Erich Cordoba (ericho)
	push = +force group user/Erich Cordoba (ericho)
